/**------------------- 
**      RESET
--------------------*/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}
/* make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}
/* make form elements easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}
/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/**------------------- 
**   CUSTOM PROPS
--------------------*/
:root {
  /* COLOURS */
  --clr-violet: 257, 40%, 49%;
  --clr-soft-magenta: 300, 69%, 71%;

  /* FONT FAMILY */
  --ff-poppins: 'Poppins', sans-serif;
  --ff-open-sans: 'Open Sans', sans-serif;

  /* FONT SIZE */
  --fs-title: 1.5rem;
  --fs-body: 1rem;

  /* FONT WEIGHT */
  --fw-regular: 400;
  --fw-semi-bold: 600;
}

@media only screen and (min-width: 48em) {
  :root {
    /* FONT SIZE */
    /* --fs-title: ;
    --fs-body: ; */
  }
}

@media only screen and (min-width: 90em) {
  :root {
    /* FONT SIZE */
    /* --fs-title: ;
    --fs-body: ; */
  }
}

/**------------------- 
**    UTILITIES
--------------------*/
/* TODO: If this doesn't end up looking nice by the end, replace it with media queries */
.container {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  padding-left: calc(1.25rem + 5vw);
  padding-right: calc(1.25rem + 5vw);
}

/**------------------- 
**     GENERAL
--------------------*/
body {
  background-image: url(../assets/images/bg-mobile.svg);
  background-color: hsl(var(--clr-violet));
  background-repeat: no-repeat;
  background-size: contain;

  font-family: var(--ff-open-sans);
  font-size: var(--fs-body);
  font-weight: var(--fw-regular);
}

@media only screen and (min-width: 48em) {
  body {
    background-image: url(../assets/images/bg-desktop.svg);
  }
}

/**------------------- 
**     HEADER
--------------------*/

/**------------------- 
**      MAIN
--------------------*/
.main {
  margin-top: 4rem;
}

/**--------------------- 
** SOCIAL MEDIA ICONS
----------------------*/
.social-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  margin-top: 3rem;
}

.social-icon {
  border: 1px solid white;
  border-radius: 50%;
  cursor: pointer;
  padding: 8px;
}
.social-icon:hover {
  border: 1px solid hsl(var(--clr-soft-magenta));
}

.icofont-facebook,
.icofont-twitter,
.icofont-instagram {
  color: white;
}

.social-icon:hover .icofont-facebook,
.social-icon:hover .icofont-twitter,
.social-icon:hover .icofont-instagram {
  color: hsl(var(--clr-soft-magenta));
}
