/**------------------- 
**      HERO
--------------------*/
.hero {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  align-items: center;
}

/**------------------- 
**     LAYOUT
--------------------*/
@media only screen and (min-width: 48em) {
  .hero {
    display: grid;
    grid-template-columns: minmax(min-content, 1fr) minmax(min-content, 1fr);
    /* grid-template-columns: repeat(auto-fill, minmax(720px, max-content)); */
    justify-items: start;
    /* gap: 0; */
  }
}

/**------------------- 
**    HERO IMAGE
--------------------*/
.hero__image {
}

/**------------------- 
**    HERO FORM
--------------------*/
.hero__form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
}

.hero__title {
  color: white;
  font-family: var(--ff-poppins);
  font-size: var(--fs-title);
  font-weight: var(--fw-semi-bold);
  max-width: clamp(13ch, 100%, 19ch);
  text-align: center;
}

.hero__text {
  color: rgba(255, 255, 255, 0.7);
  font-family: var(--ff-open-sans);
  font-size: var(--fs-body);
  font-weight: var(--fw-regular);
  max-width: clamp(23ch, 100%, 33ch);
  max-width: clamp(23ch, 100%, 50ch);
  text-align: center;
}

@media only screen and (min-width: 48em) {
  .hero__form {
    align-items: flex-start;
  }

  .hero__title {
    font-size: 32px;
    text-align: start;
  }

  .hero__text {
    font-size: 16px;
    text-align: start;
  }
}

@media only screen and (min-width: 90em) {
  .hero__form {
  }

  .hero__title {
    font-size: 32px;
    /* max-width: clamp(13ch, 100%, 19ch); */
  }

  .hero__text {
    font-size: 16px;
    max-width: clamp(23ch, 100%, 50ch);
  }
}

/**------------------- 
**    CTA BUTTON
--------------------*/
.btn--cta {
  background-color: white;
  border: none;
  border-radius: 50px;
  box-shadow: 0 3px 4px 0px rgba(0, 0, 0, 0.4);
  color: hsl(var(--clr-violet), 0.7);
  cursor: pointer;
  padding: 0.5rem 4rem;
}

.btn--cta:hover {
  background-color: hsl(var(--clr-soft-magenta));
  color: white;
}
